# envirnomnt
.venv
.testenv
.env

# cache
__pycache__/
.pytest_cache
.python-version
.ruff_cache
.DS_Store

# packages
uv.lock
*egg-info
build

# testing
test.py
notebooks
test.sh
test_ollama.py
*.ipynb
